body{
    padding: 0%;
    margin: 0%;
}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding: 11px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color: gold;
}
img{
    width: 300px;
    /* height: auto; */
    margin: 0 auto;
    align-items: center;
}