body{
    padding: 0%;
    margin: 0%;
}
img{
    /* width: 300px; */
    height: auto;/
    margin: 0 auto;
    align-items: center;
}

.code{
    font-family: cursive;
    font-size: 40px;
    color: gray;
}
button{
    margin: 0px auto;
    
}
body{
text-align: center;    
}
.m{
    margin-top: 200px;
}
.imf{
    border: 10px solid gray;
    padding: 20px;
}